@model HL.Biblio.POCO.Autor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#nombres").focus();
        $("#form1").validate({
            rules: {
                nombres: {
                    lettersOnly: "[a-zA-Z]+"
                },
                apellidos: {
                    required : true,
                    lettersOnly: "([a-zA-Z]*/s*)*"
                },
                'pais.id': "required"
            }
        });
    });
</script>
<h2>Registrar Autor</h2>
<form id="form1" name="form1" action="@Url.Action("Create")" method="post">
@{
    if(ViewBag.mensaje != null) {
        HL.Biblio.Web.Models.Mensaje m = ViewBag.mensaje;
        if(m.Tipo == HL.Biblio.Web.Models.Mensaje.TipoMsg.error) {
    <div class="dError">
        @m.Contenido
    </div>
        }
    }
}
    <fieldset>
    <legend>
        Datos de autor
    </legend>
        <table class="formulario">
            <colgroup>
                <col width="200px" />
                <col width="auto" />
            </colgroup>
            <tr>
                <td colspan="2">
                <span class="mensaje">
                    Los campos marcados con (*) son requeridos
                </span>
                </td>
            </tr>
            <tr class="tr1">
                <th>
                    Nombres:
                </th>
                <td>
                    <input type="text" id="nombres" name="nombres" class="texto3" maxlength="100" value="@((Model==null)?"":Model.Nombres)"/>
                </td>
            </tr>
            <tr class="tr1">
                <th>
                    Apellidos:
                    <span class="mensaje">(*)</span>
                </th>
                <td>
                    <input type="text" id="apellidos" name="apellidos" class="texto3" maxlength="100" value="@((Model==null)?"":Model.Apellidos)"/>
                </td>
            </tr>
            <tr class="tr1">
                <th>
                    Pais:
                    <span class="mensaje">(*)</span>
                </th>
                <td>
                    <select id="pais.id" name="pais.id" class="texto3">
                    @foreach(HL.Biblio.POCO.Pais p in ViewBag.Paises) {
                        <option value="@p.Id" @((Model == null) ? "" : (Model.Pais == null) ? "" : (Model.Pais.Id == p.Id) ? "selected=\"selected\"" : ""))>
                            @p.Nombre
                        </option>
                    }
                    </select>
                </td>
            </tr>
            <tr class="tr1">
                <th>
                    Estado:
                </th>
                <td>
                    <label><input type="checkbox" id="estado" name="estado" value="1" @((Model==null)?"":(Model.Estado==1)?"checked":"") />Activo</label> 
                </td>
            </tr>
        </table>
        <div class="dSeparador"></div>
        <table class="formulario">
            <tr>
                <td align="left">
                    <input type="submit" class="btGuardar" value="Guardar" />
                </td>
                <td align="right">
                    <p><a href="@Url.Action("Index")">
                        <span class="btVolver">Volver al listado</span>
                    </a></p>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
